@font-face {
    font-family: 'cmu_concrete';
    src: url('_fonts/cmunorm.woff2') format('woff2'),
         url('_fonts/cmunorm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_concrete';
    src: url('_fonts/cmunoti.woff2') format('woff2'),
         url('_fonts/cmunoti.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'cmu_concrete';
    src: url('_fonts/cmunobx.woff2') format('woff2'),
         url('_fonts/cmunobx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_concrete';
    src: url('_fonts/cmunobi.woff2') format('woff2'),
         url('_fonts/cmunobi.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'cmu_typewriter';
    src: url('_fonts/cmuntt.woff2') format('woff2'),
         url('_fonts/cmuntt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter';
    src: url('_fonts/cmunit.woff2') format('woff2'),
         url('_fonts/cmunit.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'cmu_typewriter';
    src: url('_fonts/cmuntb.woff2') format('woff2'),
         url('_fonts/cmuntb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter';
    src: url('_fonts/cmuntx.woff2') format('woff2'),
         url('_fonts/cmuntx.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}
