{%- set base__name = "p.kevin.garden" -%}
{%- set display__name = "p.k.g" -%}
<!DOCTYPE html>

<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>{% if title %}{{ title }} - {% endif %}{{ display__name }}</title>
  <link rel="icon" type="image/svg" href="/favicon.svg">

  <meta name="description" content="p.k.g">
  <meta name="author" content="Kevin N. Chen">
  <meta property="og:title" content="{% if title %}{{ title }} - {% endif %}{{ display__name }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://{{ base__name }}{% block url %}{% endblock url %}">
  <meta property="og:image" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@inchkev">

  <link rel="stylesheet" href="/fonts.css">
  {%- block style %}{% endblock style -%}
</head>
{% block comments %}{% endblock comments %}
<body>
  <main>
    <div class="content">
      {% block content %}{% endblock content %}
    </div>
  </main>
</body>

</html>
