{% extends "header.html" %}
{% block style %}
  <link rel="stylesheet" href="/style.css">
{% endblock style %}
{% block content -%}
      <header style="display: flex; justify-content: space-between;">
        <p id="title">{{ base__name }}</p>
        <p>by <a href="https://kevinnchen.com/">kevin c</a>, 2025</p>
      </header>

      <div class="posts">
      {%- for post in posts %}
        <p class="post">
          <a href="{{ post.slug }}">{{ post.date }} -- {{ post.title }}</a>
        </p>
      {%- endfor %}
      </div>

      <!-- <footer>
      </footer> -->
      <div id="image-credit" style="font-size: 0.75rem; position: fixed; bottom: 1rem; right: 1.25rem;">
        <p>march 22, 2025 near gilroy, ca. kevin chen <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
      </div>
{%- endblock content %}
{% block comments %}
<!--

  https://blog.kevin.garden        =^..^=

  credits & inspiration
    - https://blog.m-ou.se
    - https://tonsky.me
    - https://nezu.world/blog
    - https://quartzmother.neocities.org
    - https://ribo.zone/free/layouts/

  (c) 2024-2026, kevin chen
  source: https://github.com/inchkev/blog

-->
{% endblock comments %}