{% extends "header.html" %}
{% block style %}
  <link rel="stylesheet" href="/style.css">
{% endblock style %}
{% block content -%}
      <header>
        <p id="title">{{ base__name }}</p>
      </header>

      <div class="posts">
      {%- for post in posts %}
        <p class="post">
          <a href="{{ post.slug }}">{{ post.date }} -- {{ post.title }}</a>
        </p>{% endfor %}
      </div>

      <footer>
        <p>by <a href="https://kevinnchen.com/">kevin chen</a></p>
      </footer>
{%- endblock content %}
{% block comments %}
<!--

  https://blog.kevin.garden

  Credits & inspiration
    - https://blog.m-ou.se/
    - https://tonsky.me/
    - https://nezu.world/blog
    - https://quartzmother.neocities.org/
    - https://ribo.zone/free/layouts/

  Copyright 2024-2025 Kevin Chen
  Source: https://github.com/inchkev/blog

-->
{% endblock comments %}