{% extends "header.html" %}
{% block style %}
  <link rel="stylesheet" href="/style.css">
  <style>
  #image-credit {
    color: #ffffffeb;
    font-size: 0.75rem;
    line-height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
  #image-credit p {
    padding: 1.5em;
    margin: 0;
    text-align: right;
  }
</style>
{% endblock style %}
{% block content -%}
      <header style="display: flex; justify-content: space-between;">
        <p id="title">{{ base__name }}</p>
        <p>by <a href="https://kevinnchen.com/">kevin n. chen</a>, 2026</p>
      </header>

      <div class="posts">
      {%- for page in pages %}
        <p class="post">
          <a href="{{ page.slug }}">{{ page.date }} -- {{ page.title }}</a>
        </p>
      {%- endfor %}
      </div>

      <div id="image-credit">
        <p>november 26, 2025 in maryland.. the cat's name is coco.. © kevin chen 2025</a></p>
      </div>
{%- endblock content %}
{% block comments %}
<!--

  https://p.kevin.garden           =^..^=

  credits & inspiration
    - https://blog.m-ou.se
    - https://tonsky.me
    - https://nezu.world/blog
    - https://quartzmother.neocities.org
    - https://ribo.zone/free/layouts/

  (c) 2024-2026, kevin n. chen
  source: https://github.com/inchkev/blog

-->
{% endblock comments %}
{% block misc -%}
{% if build_time %}
<!-- last built: {{ build_time }} -->
{%- endif %}
{%- endblock misc %}