{% extends "base.html" %}
{% block style %}

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/syntax.css">
{% endblock style %}
{% block title %}{{ title }} - {% endblock title %}
{% block content -%}
      <h1>Kevin’s blog</h1>

      <header>
        <h1>{{ title }}</h1>
        <p>{{ date }}</p>
        <p>{# word_length #}</p>
      </header>

      <div class="contents">
        {{ contents }}
      </div>
{%- endblock content %}
{% block footer -%}
        <a href="..">back</a>
{%- endblock footer %}
