{% extends "header.html" %}
{% block url %}/{{ slug }}{% endblock url %}
{% block style %}
  <link rel="stylesheet" href="/style.css">
{% if hascodeblock %}  <link rel="stylesheet" href="/syntax.min.css">{% endif -%}
{% endblock style %}
{% block content -%}
      <header>
        <p id="title"><a href="..">{{ base__name }}</a>/{{ slug }}</p>
      </header>

      <div class="article">
        <div class="head">
          <h1>{{ title }}</h1>
          <p>{{ date }}{% if updated %}, <i>updated {{ updated }}</i>{% endif %}</p>
        </div>

        <div class="contents">
          {{ contents }}
        </div>
      </div>

      <footer>
        <a href="..">home</a>
      </footer>
{%- endblock content %}
