:root {
  --backgroundcolor: rgb(80,94,16);
  --brown: #b06200;
  --text: #003000;
  --border: #008400;
  --inlinecode: #00840012;
}

html, body {
  margin: 0;
  color: var(--text);
  background-color: white;
  text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--backgroundcolor);
}

body {
  font-family: "cmu_concrete", serif;
  letter-spacing: 0.01rem;

  overflow-x: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;

  padding: 0.5rem;

  background-image: -webkit-image-set(
    url("background.avif") type("image/avif"),
    url("background.webp") type("image/webp"),
    url("background.jpg") type("image/jpg")
  );
  background-image: image-set(
    url("background.avif") type("image/avif"),
    url("background.webp") type("image/webp"),
    url("background.jpg") type("image/jpg")
  );
  min-height: 100vh;
}

.content-wrapper {
  border: 1px solid var(--border);
  max-width: 40rem;
  padding: 1.5rem;
  background-color: rgba(255,255,255,0.9);
}

#title, .head {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
p, h1, h2, h3, h4, h5, h6, table, ul, ol {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
p strong, p b {
  letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
  letter-spacing: 0.025rem;

  color: var(--border);

  margin-top: 1.5em;
  margin-bottom: 0.65em;
}
h3, h4, h5, h6 {
  font-size: 17px;
  line-height: 22px;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--text);
  text-decoration-color: var(--border);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.23rem;
}
a:hover {
  text-decoration-color: var(--brown);
}
a:link,
a:visited {
  color: var(--text);
}

img, video {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
}
pre, blockquote, aside {
  border: 1px solid var(--border);
  margin: 0;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}
blockquote, aside {
  padding: 0.75rem;
}

code, pre, tt, kbd, samp {
  font-family: "cmu_typewriter", 'Nimbus Mono PS', 'Courier New', monospace;
}
pre {
  white-space: pre;
}
code {
  background: var(--inlinecode);
  padding: 1px 2px 0 2px;
  font-size: 0.9rem;
}
pre code {
  background: none;
  overflow-x: auto;
  display: block;
  line-height: 1.25;
  padding: 0.5rem 0.75rem;;
}

header {
  margin-bottom: 1.5rem;
}
footer {
  margin-top: 2rem;
}

hr {
  margin: 2rem 0;
  border: none;
  height: 1px;
  color: var(--border); /* old IE */
  background-color: var(--border); /* Modern Browsers */
}

table {
  border-collapse: collapse;
}
table th,
table td {
  padding: 0.1rem 0.4rem 0 0.4rem;
  border: 1px solid var(--border);
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  font-size: 0.7rem;
}
sub {
  vertical-align: bottom;
  position: relative;
  top: 0.5em;
  font-size: 0.7rem;
}
