:root {
  --green: #008400;
  --red: #ED3078;
  --gray: #AAAAAA;
  --lightgreen: #B5E59E;
  --light: #FBFBFB;
}x

html, body {
  margin: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: system-ui, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;

  overflow-x: auto;
  /* background-color: var(--light); */

  box-sizing: border-box;
  padding: 1.5em;
}

.content-wrapper {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family:'Times New Roman', Times, serif; */
  color: var(--green);
}
h3, h4, h5, h6 {
  font-size: 1em;
}
h1, h2 {
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
a:hover {
  border-bottom: 1px solid var(--red);
}
a:link,
a:visited {
  color: black;
}



pre, blockquote, aside {
  padding: 1em;
  background: var(--light);
  border-radius: 5px;
  border: 1px solid var(--gray);
}
pre {
  font-size: 0.8em;
  white-space: pre;
}
code {
  background: var(--light);
  border-radius: 3px;
  padding: 2px;
  font-size: 0.9rem;
}
pre code {
  overflow-x: scroll;
  display: block;
  font-size: 0.8rem;
}

header {
  margin-bottom: 2em;
}
footer {
  margin-top: 5em;
}
hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border: none;
  height: 1px;
  color: var(--green); /* old IE */
  background-color: var(--green); /* Modern Browsers */
}

table {
  border-collapse: collapse;
}
table th,
table td {
  padding: 0.35em;
  border: 1px solid var(--gray);
}